*.class
/data/
/jars/
/build/
/.gradle/
.pydevproject
/.settings/
/bin/com
/bin/rapidwright_classpath.sh
.idea
*.iml
/designs/
interchange/schema/capnp/java.capnp
*.orig

benchmarks/
results
result2/
result3/
.vscode/
pr_result
pr_result2